{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Character{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Create Your Character</label>
    Character Name
    <input name="character_name" id="character_name" value="{{ request.form['character_name'] }}" required>
    Player Name
    <input name="player_name" id="player_name">{{ request.form['player_name'] }}
    tags(delemiter=cummma)
    <input name="tags" id="tags">{{ request.form['tags'] }}
    <input type="submit" value="Save">
  </form>
{% endblock %}