-i https://pypi.org/simple
backports-datetime-fromisoformat==2.0.3; python_version >= '3.1'
blinker==1.9.0; python_version >= '3.9'
cachetools==5.5.2; python_version >= '3.7'
certifi==2025.1.31; python_version >= '3.6'
charset-normalizer==3.4.1; python_version >= '3.7'
click==8.1.8; python_version >= '3.7'
flask==3.1.0; python_version >= '3.9'
flask-cors==5.0.1; python_version >= '3.9' and python_version < '4.0'
flask-marshmallow==1.3.0; python_version >= '3.9'
flask-sqlalchemy==3.1.1; python_version >= '3.8'
google-api-core==2.24.2; python_version >= '3.7'
google-auth==2.39.0; python_version >= '3.7'
google-cloud-core==2.4.3; python_version >= '3.7'
google-cloud-storage==3.1.0; python_version >= '3.7'
google-crc32c==1.7.1; python_version >= '3.9'
google-resumable-media==2.7.2; python_version >= '3.7'
googleapis-common-protos==1.70.0; python_version >= '3.7'
greenlet==3.2.1; python_version >= '3.9'
gunicorn==23.0.0; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
importlib-metadata==8.6.1; python_version >= '3.9'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.6; python_version >= '3.7'
markupsafe==3.0.2; python_version >= '3.9'
marshmallow==4.0.0; python_version >= '3.9'
marshmallow-sqlalchemy==1.4.2; python_version >= '3.9'
mysqlclient==2.2.7; python_version >= '3.8'
packaging==25.0; python_version >= '3.8'
proto-plus==1.26.1; python_version >= '3.7'
protobuf==6.30.2; python_version >= '3.9'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
rsa==4.9.1; python_version >= '3.6' and python_version < '4'
sqlalchemy==2.0.40; python_version >= '3.7'
typing-extensions==4.13.2; python_version >= '3.8'
urllib3==2.4.0; python_version >= '3.9'
werkzeug==3.1.3; python_version >= '3.9'
zipp==3.21.0; python_version >= '3.9'
