{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for character in characters %}
    <article class="post">
      <header>
        <div>
          <h1>{{ character['character_name'] }}</h1>
          <div class="about">by {{ character['character_name'] }} on {{ character['create_time'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == character['user_id']|int %}
          <a class="action" href="{{ url_for('blog.update', id=character['user_id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ character['character_name'] }}</p>
      <p class="body">{{ character['player_name'] }}</p>
      <p class="body">{{ character['game_system'] }}</p>
      <p class="body">{{ character['tags'] }}</p>
      <p class="body">{{ character['update_time'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}